// Colors
$green: #45b862;
$dark_green: #27993e;
$dark_green_c: rgb(30, 117, 47);
$gray: #37474F;
$white: #fafafa;

// Fonts
$noto: 'Noto Sans', sans-serif;

// Images
$background: url(../img/background.jpg)

