// Colors
$green: #45b862;
$dark_green: #27993e;
$dark_green_c: rgb(30, 117, 47);
$gray: #EEEEEE;
$white: #fafafa;

// Fonts
$noto: 'Noto Sans', sans-serif;

// Images
$background: url(../img/background.jpg);

// Sizes
$break_mobile: 790px;

