* {
  box-sizing: border-box;
  font-family: $noto;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $background no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
}

.container {
  height: 600px;
  width: 1200px;
  padding: 0;
  top: calc(50% - 300px);
  left: calc(50% - 600px);
  position: absolute;
  overflow: hidden;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 165px;

  .logo__wrapper {
    width: 100%;
    text-align: center;
    position: static;
    z-index: 2;

    .logo {
      width: 118px;
      padding: 30px 0;
    }
  }


  .search__form {
    display:flex;
    width: 100%;
    justify-content: flex-start;
    position: static;
    z-index: 2;

    .search__input {
      padding: 10px;
      font-size: 1.2em;
      width: calc(100% - 50px);
      border: 1px solid white;
      transition: .1s linear;

      &:focus {
        outline: none;
        padding-left: 20px;
      }
    }

    .filters_btn {
      background: $green;
      width: 50px;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        background: $dark_green_c;
      }
    }

    .search__button {
      transition: 0.3s;
      cursor: pointer;
      width: 50px;

      &:focus {
        box-shadow: none;
      }

      &:hover {
        background: $dark_green;
        width: 100px;
      }
    }
  }
}


#filters {
  height: 435px;
  color: $green;
  overflow: hidden;

  .all_filters {
    background: white;
    height: 100%;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1200, 0, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;


    .left,
    .right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      &.upper {
        height: calc(100% - 126px);
      }
    }
    .left {
      width: 70%;

      .sliders {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 15px;


        .filter_block {
          width: 30%;
          color: $green;

          .here_slider {
            display: block;
          }

          .range_title {
            width: 100%;
            font-family: $noto;
          }
          input {
            width: calc(100% - 50px);
          }
          .range_period {
            width: 50px;
            font-family: $noto;
            font-size: 12px;
            text-transform: capitalize;
          }

        }
      }

      .categories {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ul {
          list-style: none;
          display: flex;
          padding: 10px 15px;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 100%;

          li {
            text-align: center;
            width: 120px;

            .cat_icon {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin: 0 auto;
              cursor: pointer;
              background: $gray;
              transition: 0.2s;
              display: flex;
              justify-content:center;
              align-items: center;

              &.selected {
                background: rgba($green, 1);
                color: #ffffff;
              }

              &:hover {
                box-shadow: 0px 0px 6px;

                + .cat_name {
                  color: $green;
                }
              }

              .fi {
                font-size: 22px;
              }
            }

            .cat_name {
              display: block;
              color: gray;
              font-size: 12px;
              margin-top: 7px;
              transition: .2s;

              &.selected {
                color: $green;
              }
            }
          }
        }
      }
    }

    .right {
      width: 30%;

      .right_blocs {
        width: 100%;
        padding: 5px 15px;
      }
    }

    .last_row {
      width: 100%;
      background: $green;
      height: 63px;
      align-self: flex-end;
      display: flex;
      align-items: center;

      .left {
        .switcher {
          width: 50%;
          display: flex;

          &.togglebutton {
            justify-content: space-around;

            label {
              color: white;
              font-size: 14px;
              margin: 0;

              input[type=checkbox]:checked+.toggle {
                background-color: #ffffff;
              }

              .toggle {
                margin-left: 10px;
                background-color: $dark_green;

                &:after {
                  background-color: #ffffff;
                  box-shadow: 0 0 0 1px $dark_green !important;
                }
              }
            }
          }

          &.sortby{

            span {
              color: #ffffff;
              display: flex;
              align-items: center;
            }

            ul {
              width: 70%;
              list-style: none;
              display: flex;
              padding:0;
              justify-content:center;
              margin: 0;

              li {
                margin: 0 7px;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-content:center;
                text-align: center;
                border-radius: 50%;
                transition: 0.2s;
                cursor: pointer;
                background: $dark_green;

                &.selected {
                  background: white;

                  .fi {
                    color: $green;
                  }
                }

                &:hover {
                  box-shadow: 0 0 3px $dark_green;
                }

                .fi {
                  display: block;
                  color: #ffffff;
                  font-size: 19px;
                  height: 25px;
                  width: 25px;
                  align-self:center;

                  &.to-down {
                    transform: rotate(180deg);
                  }


                }
              }
            }
          }

        }
      }

      .right {
        .action {
          width: 100%;
          height: 100%;
          text-align: center;

          button {
            background: $dark_green;
            color: #ffffff;
            width: 100%;
            height: 100%;
            border: none;
            text-transform: uppercase;
            transition: 0.3s;
            font-size: 24px;

            &:hover {
              background: $green;
            }
          }
        }
      }
    }

    .filters_title {
      width: 100%;
      background: $green;
      display: flex;

      h2 {
        color: white;
        width: 70%;
        font-family: $noto;
        padding-left: 17px;
        margin: 15px 0;

        small {
          color: white;
        }
      }
    }
  }

  .apply_filters {
    height: 50px;
    text-transform: uppercase;
    background: $green;
    color: white;
    transition: 0.2s;

    &:hover {
      background: rgba($green, 0.7);
    }

    &:focus {
      transform: translateX(100%);
    }
  }
}

.show_filters {
  animation: animation 300ms linear both;
}

.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/**
 * Placeholder
 */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $green;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $green;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $green;
}
:-moz-placeholder { /* Firefox 18- */
  color: $green;
}